body {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: floralwhite;
    background-color: rgb(75, 75, 97);
}

h1 {
    font-family: 'Goblin One', cursive;
    color: rgb(247, 82, 82);
}

header {
    margin: 50px 0 50px 0;
}

button {
    font-family: 'Goblin One', cursive;
    width: 300px;
    align-self: center;
}

.mt-4 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    border-radius: 5px;
}